version: '3.8'

services:
  
  database:
    image: pgvector/pgvector:pg16  
    container_name: ondemand_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  

volumes:
  postgres_data: