version: '3.8'

services:
  
  database:
    image: pgvector/pgvector:pg16  
    container_name: ondemand_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Password123! 
      POSTGRES_DB: ondemand_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  

volumes:
  postgres_data: